@font-face {
  font-family: "Colitez";
  src: url("C:\\Users\\hunte\\OneDrive\\Desktop\\ReactApp\\fonts\\ColitezSerif-Italic.otf") format("opentype");

}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 15%;
}
.App-h1 {
  font-family: "Colitez";
  font-size: 4rem;
  margin-bottom: 2rem;
  /* animation: fade-out 5s forwards; */
}
.App-h1.fade-out-active {
  animation: fade-out 4s forwards;
}
.App-enter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10%;
}
.App-enter-container.fade-out-active {
  animation: fade-out 4s forwards;
}
.App-enter {
  font-family: "Colitez";
  font-size: 3rem;
  padding: 15px 20px 10px 10px;
  border: solid 2px #1f2230;
  border-radius: 10px;
  background-color: #282c34;
  color: #ffffff;
  cursor: pointer;
  /* transition: background-color 0.3s ease; */
}
.App-enter.fade-out-active {
  animation: fade-out 4s forwards;
}
.App-enter:hover {
  background-color: #3a3f52;
}
.App-h3 {
  font-family: "Colitez";
  font-size: 1.5rem;
  margin-top: 1rem;
  color: #bbbbbb;
}
.App-h3.fade-out-active {
  animation: fade-out 4s forwards;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
  
}
